pyspark==3.5.0
great-expectations==0.18.8
pandas==2.0.3
PyMySQL==1.1.0
mysqlclient==2.2.1
mysql-connector-python==8.3.0
faker==22.5.1
flask-admin==1.6.1
typing-extensions==4.9.0
python-dotenv==1.0.1
psycopg2
openai
streamlit==1.31.0
watchdog
glom
jinja2
html2text
flask
kafka-python
schedule